@charset "UTF-8";

.divCmty{
	width: 1140px;/*1104px*/
	margin:0 auto;
	margin-bottom:30px;
}

section{
	float:left; 
	margin-left:30px;
	margin-top:40px;
}

.fa-ellipsis-h{
	cursor: pointer;		
}

.title{
	font-size: 22px;
}

#content{
	width:800px;
}

#questBox{
	border-top:1px solid silver;
	border-left:1px solid silver;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
}

.oneQuestBox{
    padding: 30px 10px 0px 10px;
    height: auto;
    width: 92%;
    border-bottom: 1px solid silver;
    margin: 0px 30px 0 30px;
}

.NoneQuestBox{
    padding: 150px 10px;
    height: 430px;
    width: 92%;
    margin: 0px 30px 0 30px;
    text-align: center;
    color:silver;
}

.NoneQuestBox>p{
	font-size:16px
}

   .fa-commenting-o {
	font-size: 57px;
	color: silver;
}
.qtTitle{
	font-size: 19px;
	color:black;
	font-weight:lighter;
}

.qtContent{
	font-size:17px;
	color:#5f5f5f;
}

.fa-quora{
	font-size:22px;
	color:#4c50bb;	
	margin-right: 5px;
}

.workkind{
	margin: 0 0 18px 0;
    font-size: 13px;
    background-color: #c0c0c059;
    width: max-content;
}

dd{
	margin-top:20px;
}

.cellBx{
	color:gray;
	overflow: hidden;
}

.replyNum{
	color:black;
	font-weight:bold;
}

.paging{
	height:100px;
	text-align:center;
	clear:both;
    padding: 25px 0;
}

.questBoxWrap:hover{
	background-color: #f5f7ff;;
}

.cellBx > a{
	color:gray;
	font-size:14px;	
}

.cellBx > span{
	float:left;
	font-size:14px;	
}

.cellBx  .bookmark{
	float:right;
	font-size:20px;
	display:block;
	color:gray;
	cursor:pointer;
}


/* 페이징처리 */
.product__pagination a,
	.blog__pagination a,
	#currentPage {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #b2b2b2;
	font-size: 14px;
	color: #b2b2b2;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 0;
}
	
.product__pagination a:hover,
.blog__pagination a:hover,
#currentPage {
	background: #4C50BB;
	border-color: #4C50BB;
	color: #ffffff;
}
	
.product__pagination a:last-child,
.blog__pagination a:last-child {
	margin-right: 0;
}
	