@charset "UTF-8";

#searchImg{
	width:100px;
	height:200px;
}

.margin_left_right_150{
	margin-left: 150px;
	margin-right: 150px;
}

.margin_bottom_0{
	margin-bottom: 0px;
}

.padding_20{
	padding: 20px;
}

.center{
	text-align: center;
}

.size_150{
	font-size: 150px;
}

.lightgray{
	color: #F1F1F1;
}

.gray{
	color:#4C4747;
}

#ExploreBtn{
	background: #4C50BB;
	border: 1px solid #4C50BB;
	color: #ffffff;
	width: 80px;
	height: 40px;
	margin-left: 15px;
}

.searchSelectbox{
	border: 1px solid #ebebeb;
    height: 40px;
}