@charset "UTF-8";

.center{
	text-align: center;
}

.shopping-cart{
	padding-top: 0px;
	padding-bottom: 0px;
}

.mybtn{
	border: 1px solid #ebebeb;
    height: 50px;
}

.cart-table .padding-bottom0{
	padding-bottom: 0px;
}