@charset "UTF-8";

.mystyle{
	border: 1px solid #ebebeb;
    height: 50px;
}

.margin_left{
    margin-left: 41px;
}

.mybtn{
	color: #ffffff;
    background: #4C50BB;
    border: 1px solid #4C50BB;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 20px;
}

.inputbtn{
	border: 1px solid #fafafa;
    height: 45px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.center{
	text-align: center;
}

.error{
	color: #4C50BB;
}

.width_135{
	width: 135px;
}

.width_300{
	width: 300px;
}

.lightgray{
	background: #fafafa;
}

.padding_left10{
	padding-left: 10px;
}